$page-width : 772px;
$gutter   : 20px;

.standard-column {
  display: inline;
  float: left;
  margin-left: $gutter;
}

@mixin column-generator($multiple, $page-width:980px, $gutter:20px) {
  $column: ($page-width + $gutter) / $multiple;

  .row {
    @extend .clear-float;
    margin-left: #{-1*$gutter};
  }

  .column-wrapper {
    width: $page-width;
    margin-left: auto;
    margin-right: auto;
  }

  @for $i from 0 through $multiple {
    .column-offset-#{$i} {
      margin-left: #{$gutter + $column*$i};
    }
    .column-#{$i} {
      @extend .standard-column;
      // Print the $property and return the value from the Modular Scale function
      width: #{$column*$i - $gutter};
    }
  }
}

// To be called in stylesheet to set column sizes and offset.

@mixin column-size($span:1){
  @extend .column-#{$span};
}

@mixin column-flush {
  margin-left: 0;
}

@mixin column-offset($offset:0){
  @extend .column-offset#{$offset};
}