<% @articles.each do |article| %>
  <article>
    <header>
      <h1><%= link_to article.title, article_path(article) %></h1>
    </header>

    <div class="article-body">
      <%= markdown article.body %>
    </div>

    <footer>
      <ul>
        <li><%= article.created_at.to_formatted_s(:basicdate) %></li>
        <li><%= link_to article.category.title, category_path(article.category) %></li>
      </ul>
    </footer>
  </article>
<% end %>