<% @articles.each do |article| %>
  <article>
    <header>
      <h1><%= link_to article.title, article_path(article) %></h1>
    </header>

    <div class="article-body">
      <%= markdown article.body %>
    </div>

    <footer>
      <h3><%= article.created_at.to_formatted_s(:basicdate) %></h3>
    </footer>
  </article>
<% end %>