<% @articles.each do |article| %>
  <article>
    <header>
      <h1><%= article.title %></h1>
    </header>

    <div class="article-body">
      <%= markdown article.body %>
    </div>

    <footer>
      <h3><%= article.created_at.to_date %></h3>
    </footer>
  </article>
<% end %>