$base-font: 14px 180px;
$small-font: 11px;
$line-height: 16px 190px;

$background: #fff;
$color-base: rgb(0,0,0);
$color-link: rgb(25, 92, 153);
$color-light: rgb(120,120,120);
$color-hover: blue;
$color-code: rgb(230,230,230);

$color-header: #38A5E5;

// Set Grid Sizes
//__________________________________
// width = 772px => because
$column-width: 45px !default;
$gutter-width: 14.33333333px !default;

// Partials
//__________________________________
@import 'reset';
@import 'modular_scale';
@import 'grid';
@import 'formatting';
@import 'pygments';

// Header Fonts
//__________________________________
@mixin header-thick {
  font-family: 'Helvetica', sans-serif;
  font-weight: 800;
}

@mixin header-light {
	font-family: 'Helvetica', sans-serif;
	font-weight: normal;
}

@mixin base-font {
	font-family: 'Georgia', serif;
}

html {
  background-color: $background;
}

body {
  @include base-font;
  font-size: ms(1,$base-font,$gold);
  line-height: 1.6em;
  position: relative;
}

a {
  color: $color-link;

  &.post-title {
  	color: $color-header;
    @include header-thick;
    text-decoration: none;
  }

  &:hover {
    color: $color-hover;
  }
}

.meta {
  @include header-light;
  color: $color-light;
  font-size: 80%;
  padding: 0 1em;
}

.post-date {
  color: $color-light;
  font-style: italic;
}

.post-category,
.post-date {
  font-size: 80%;
}

em {
  font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
  @include header-thick;
  margin: 0.5em 0;
  a {
  	color: $color-header;
    text-decoration: none;
  }
}

h1 {
  font-size: ms(4, $base-font, $golden);
  line-height: ms(5, $base-font, $golden);
}

h2 {
  font-size: ms(3, $base-font, $golden);
  line-height: ms(3, $line-height, $golden);
}

h3 {
  margin-top: 1.4em;
}

h5 {
  font-size: ms(1, $base-font, $golden);
  @include header-light;
}

em {
  font-style: italic;
}

ul {
  list-style: disc;
}

strong {
  font-weight: bold;
}

code {
  font-family: "Menlo", "Monaco", monospace;
  font-size: 90%;
  padding: 0.1em 0.2em;
}

#wrapper {
  @include grid-page(12);
  text-align: left;
  margin: 10px auto;
}

#navigation {
  display: block;
  margin: 0 0 1em;
  overflow-y: auto;
  padding: 0.25em 0;
  position: relative;
  width: 100%;

  a {
    color: $color-base;
    text-decoration: none;

    &:hover {
      color: $color-hover;
    }
  }

  a#title, a#title:visited {
    @include header-thick;
    color: rgb(28, 189, 43);
    font-size: ms(1, $base-size, $golden);
    
    &:hover {
      color: $color-base;
    }
  }

  ul {
    @include header-light;
    list-style: none;
    margin: 0 0 1em;

    li {
      font-size: 85%;
      float: left;
      margin-right: 0.7em;
    }

  }
}

#content {
  margin: 1em 0;
}

#comments {
  margin: 1em 0;
}

footer {
  @include header-light;
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: 12px;
  padding: 1em 0;
  overflow-y: auto;

  a, a:visited {
    color: $color-light;
    text-decoration: none;

    &:hover {
      color: $color-link;
    }
  }

  ul, p {
    line-height: 1.6em;
  }
}

.pagination {
  @extend .clear-float;
  @extend .row;

  .older-link,
  .newer-link,
  .page-count {
    @include grid-column(4);
  }

  .page-count {
    @extend .align-center;
  }

  .newer-link {
    @extend .align-right;
  }
}

.post {
  &:last-child{
    border-bottom: none;
  }
  margin: 1.5em 0 3.5em;

  header, footer {
    @include base-font;
    margin: 0 0 1em;
  }
  
  footer {
    font-size: 90%;
  }

  hgroup {
    margin: 0 0 1em;
  }

  footer {
    @extend .clear-float;
    border-top: none;
    color: $color-light;

    a,
    a:visited {
      color: $color-light;
      text-decoration: none;
      &:hover {
        color: $color-light;
        text-decoration: underline;
      }
    }

    ul {
      list-style: none;

      li {
        font-style: italic;
        padding-right: 0.5em;
        
      }
      &.listed li {
        display: block;
      }
    }
  }
}

.article-body {
  font-size: ms(1, $base-font, $golden);
  line-height: ms(3, $base-font, $golden);

  img {
    box-shadow: 0 0 3px rgba(0,0,0,0.4);
    max-width: 100%;
  }

  p {
    margin: .7em 0 1.5em;
      
    &.caption {
      font-size: 0.9em;
      font-style: italic;
      color: $color-light;
      margin: 0;
      padding: 0;
    }
  }
}

.gist {
  font-size: 0.9em;
  line-height: 1em;
}

li {
  ul {
    margin-left: 1em;
    li {
      list-style-type: square;
    }
  }
}

body.tumblr {
  #wrapper {
    width: 612px;
  }
}