@import 'reset';

$background: rgb(255,255,255);
$color-base: rgb(0,0,0);
$color-link: rgb(31,55,229);
$color-light: rgb(120,120,120);
$color-hover: blue;

$base-font: 100%;
$small-font: .9em;
$huge: 2.1857em;

@mixin header-font {
    font-family: 'Georgia', 'Times New Roman', serif;
}
@mixin base-font {
    font-family: 'Lucida Grande';
}
@mixin accent-font {
    font-family: 'News Cycle', 'Verdana', 'Arial', sans-serif;
}
@mixin skinny-center {
    margin: 0 auto;
    text-align: left;
    width: 40.625em; /* 650px / 16 */
}
@mixin horizontal-separator {
/*    border-bottom: 1px solid $color-base;*/
}

html {
    background-color: $background;
}

body {
    @include base-font;
    font-size: $base-font;
    line-height: 1.6em;
}

a {
  color: $color-link;
  &:visited {
    color: $color-link; }
  &:hover {
    color: $color-hover;
	}
}

em {
    font-style: italic;
}

h1, h2, h3, h4, h5, h6 {
    @include header-font;
}

nav {
    @include horizontal-separator;
	@include header-font;
    font-size: 0.875em;
	margin: 1em 0;

    ul li {
        display: inline;
    }

	a {
		text-decoration: none;
	}
}

header {
    @include horizontal-separator;
    padding: 0.2em 0 0.7em;

    h1 {
        @include header-font;
        font-size: $huge;

        a {
            color: $color-base;
            text-decoration: none;
            &:visited {
                color: $color-base;
            }
            &:hover {
                background-color: transparent;
                color: blue;
            }
        }
    }
}

#wrapper {
	@include skinny-center;
    margin: 20px auto;
}

#navigation {
}

#content {
	margin: 1em 0;
}

@import 'article';