<%= form_for(@category) do |f| %>
  <div>
  <%= f.text_field :title, :placeholder => "Title" %>
  </div>
  
  <div>
  <%= f.text_area :description, :placeholder => "Description" %>
  </div>
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>