<!DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="alternate" type="application/rss+xml" title="Paul May - Research and Interaction Design" href="/feed.xml" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<title>{{page.title}} | Paul May</title>
<link rel="stylesheet" href="/s/s.css"/>
</head>
<body>
<div id="wrapper"> 
{%include header%}
<div class="divider"></div>
<div class="content">
{{content}}
<div class="divider breathe"></div>
{%include footer%}
</div><!--content-->  
</div><!--wrapper-->
</body>
{%include js%}
</html>
