<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>{{page.title}} | Paul May</title>
    <link rel="stylesheet" href="/s/s.css"/>
</head>
<body>
<div id="wrapper">  
<div id="header">
<div id="masthead"><h1><a href="/">Paul May</a></h1></div>
<div id="primary">
{% include primary_nav %}
</div>

</div>
<div class="divider"></div>
<div id="content">
    {{content}}
<div class="divider breathe"></div>
<div id="footer">
<div id="copyright">&copy; 2012 Paul May.</div>
<div id="secondary">
<ul>
<li><a href="http://twitter.com/paulmmay">Twitter</a></li>
<li><a href="/feed.xml">RSS</a></li>
<li><a href="/colophon">Colophon</a></li>
</ul>
</div>
</div>
</div>  
</div>      
</body>
<script type="text/javascript" src="//use.typekit.net/ebp8vaa.js" />
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</html>
