<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Paul May {{page.title}}</title>
    <link rel="stylesheet" href="/css/style_tc.css"/>
</head>
<body>


<div id="wrapper">  
<div id="header">
<div id="masthead"><a href="/">Paul May</a></div>
<div id="primary">
<ul>
<li><a href="/">Work</a></li>
<li><a href="/" class="youhere">Blog</a></li>
<li><a href="/">About</a></li>

</ul>
</div>
</div>

<div class="divider"></div>

<div id="content">
<!--The standard page structure. Page-specific markup lives in respective layout files-->
<!--There will be a standard navigation-->
    {{content}}

<div class="divider breathe"></div>

<div id="footer">
<div id="copyright">&copy; 2012 Paul May.</div>
<div id="secondary">
<ul>
<li><a href="http://twitter.com/paulmmay">Twitter</a></li>
<li><a href="/feed.xml">RSS</a></li>
<li><a href="/colophon">Colophon</a></li>
</ul>
</div>
</div>

    
</div>  
</div>      
</body>
<script type="text/javascript" src="//use.typekit.net/ebp8vaa.js"></script>
<script type="text/javascript">try{Typekit.load();}catch(e){}</script>
</html>
