---
layout: default
---
<article class="borderless">
<h2 class="articletitle"><a href="{{ page.url }}">{{ page.title }}</a></h2>
<div class="postmeta">
<p class="date"><a href="http://paulmay.org{{page.url}}" class="permalink" title="Permalink to this article">{{ page.date | date: "%d %B %Y" }}</a></p>
</div>
{{content}}
</article>
<div id="minibio">
<img src="/g/me.jpg" height="60" width="60" class="mini-avatar"/>
<span class="mini-text">Paul May is a researcher and designer from Dublin, living and working in New York. Find out <a href="/work" title="Paul May's portfolio of work">more about Paul's work</a> or <a href="mailto:webmail@paulmay.org">get in touch</a>.</span>
</div> 
</div><!--end of page-->