<DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="alternate" type="application/rss+xml" title="Paul May - Research and Interaction Design" href="/feed.xml" />
<title>{{page.title}} | Paul May</title>
<link rel="stylesheet" href="/s/s.css"/>
</head>
<body>
<div id="wrapper"> 
{%include header%}
<div class="content-wide">
<div class="pal-wrapper">
<div id="pal">
</div>
<div class="pal-description">
<h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
{{content}}
</div>
</div>

</div>
{%include footer%} 
</div><!--wrapper-->
</body>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script src="/j/raphael-min.js"></script>
<script>
console.log(Raphael)
	// Creates canvas 320 × 200 at 10, 50
var paper = Raphael(100, 100, 100, 100);

// Creates circle at x = 50, y = 40, with radius 10
var circle = paper.circle(50, 40, 20);
// Sets the fill attribute of the circle to red (#f00)
circle.attr("fill", "#f00");

// Sets the stroke attribute of the circle to white
circle.attr("stroke", "none");

</script>
{%include js%}
</html>




