<DOCTYPE html>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0">
<link rel="alternate" type="application/rss+xml" title="Paul May - Research and Interaction Design" href="/feed.xml" />
<title>{{page.title}} | Paul May</title>
<link rel="stylesheet" href="/s/s.css"/>
</head>
<body>
<div id="wrapper"> 
{%include header%}
<div class="content-wide">
<div class="pal-wrapper">
<div id="pal">
</div>
<div class="pal-description">
<h3><a href="{{ page.url }}">{{ page.title }}</a></h3>
{{content}}
</div>
</div>

</div>
{%include footer%} 
</div><!--wrapper-->
</body>
<script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
<script>

function Palette(_name,_colours){
this.colours = _colours;
this.name = _name;
}

p = new Palette("Processing",[
{% for c in page.colours %}"{{ c }}",{% endfor %}])

$.each(p.colours, function( key, value ) {
  div_id = p.name+"_"+value;
  div_ref = "#"+div_id;
  div_html = "<div class=\"palette horizontal-stripe\" id=\""+div_id+"\"><span class=\"colour-value\">#"+value+"</span></div>";
  $("#pal").append(div_html);
  $(div_ref).css("background-color","#"+value);
});
</script>
{%include js%}
</html>




