<div id="navigation">
  <header>
    <h1>
      <%= link_to 'Steven Klise', :root %>
    </h1>
  </header>

  <nav>
    <ul>
      <li><a href="http://stevenklise.tumblr.com/">Blog</a> //</li>
      <li><%= link_to 'ITP', "#" %> //</li>
      <li><%= link_to '@stevenklise', 'http://twitter.com/stevenklise' %></li>
    </ul>
  </nav>
</div>